<div class="dlabnav">
            <div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a href="{% url 'admin-home' %}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Dashboard</span>
						</a>
					</li>
                    <li><a href="{% url 'admin-inbox' %}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Inbox</span>
						</a>
					</li>
                   <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">My Contact Details</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="{% url 'view-contact' %}">View Contact</a></li>
							<li><a href="{% url 'create-contact' %}">Create Contact</a></li>
						</ul>
                    </li>
                     
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Reviews</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'view-reviews' %}">View Reviews</a></li>
							<li><a href="{% url 'create-review' %}">Add Reviews</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Projects</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'create-project' %}">Create Project</a></li>
                            <li><a href="{% url 'view-projects' %}">View Projects</a></li>
                            
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Socials</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/form-element.html">Form Elements</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-wizard.html">Wizard</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-editor-ckeditor.html">Form CkEditor</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-pickers.html">Pickers</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-validation-jquery.html">Jquery Validate</a></li>
                        </ul>
                    </li>
                    
                    
                </ul>
				<a class="add-menu-sidebar" href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#addOrderModalside" >+ New Project</a>
				<div class="copyright">
					<p><strong>Vora Saas Admin Dashboard</strong> © 2022 All Rights Reserved</p>
					<p>Made with <span class="heart"></span> by DexignLab</p>
				</div>
			</div>
        </div>