<div class="dlabnav">
            <div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/index-2.html">Dashboard Dark</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/projects.html">Projects</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/contacts.html">Contacts</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/kanban.html">Kanban</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/calendar.html">Calendar</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/messages.html">Messages</a></li>
						</ul>
                    </li>
                    <li><a href="{% url 'admin-inbox' %}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Inbox</span>
						</a>
					</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Apps</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/app-profile.html">Profile</a></li>
							<li><a href="https://vora.dexignlab.com/xhtml/edit-profile.html">Edit Profile</a></li>
                            <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Email</a>
                                <ul aria-expanded="false">
                                    <li><a href="https://vora.dexignlab.com/xhtml/email-compose.html">Compose</a></li>
                                    <li><a href="https://vora.dexignlab.com/xhtml/email-inbox.html">Inbox</a></li>
                                    <li><a href="https://vora.dexignlab.com/xhtml/email-read.html">Read</a></li>
                                </ul>
                            </li>
                            <li><a href="https://vora.dexignlab.com/xhtml/app-calender.html">Calendar</a></li>
							<li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
                                <ul aria-expanded="false">
                                    <li><a href="https://vora.dexignlab.com/xhtml/ecom-product-grid.html">Product Grid</a></li>
									<li><a href="https://vora.dexignlab.com/xhtml/ecom-product-list.html">Product List</a></li>
									<li><a href="https://vora.dexignlab.com/xhtml/ecom-product-detail.html">Product Details</a></li>
									<li><a href="https://vora.dexignlab.com/xhtml/ecom-product-order.html">Order</a></li>
									<li><a href="https://vora.dexignlab.com/xhtml/ecom-checkout.html">Checkout</a></li>
									<li><a href="https://vora.dexignlab.com/xhtml/ecom-invoice.html">Invoice</a></li>
									<li><a href="https://vora.dexignlab.com/xhtml/ecom-customers.html">Customers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Charts</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/chart-flot.html">Flot</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/chart-morris.html">Morris</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/chart-chartjs.html">Chartjs</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/chart-chartist.html">Chartist</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/chart-sparkline.html">Sparkline</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-internet"></i>
							<span class="nav-text">Bootstrap</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-accordion.html">Accordion</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-alert.html">Alert</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-badge.html">Badge</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-button.html">Button</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-modal.html">Modal</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-button-group.html">Button Group</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-list-group.html">List Group</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-media-object.html">Media Object</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-card.html">Cards</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-carousel.html">Carousel</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-dropdown.html">Dropdown</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-popover.html">Popover</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-progressbar.html">Progressbar</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-tab.html">Tab</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-typography.html">Typography</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-pagination.html">Pagination</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/ui-grid.html">Grid</a></li>

                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-heart"></i>
							<span class="nav-text">Plugins</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/uc-select2.html">Select 2</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/uc-nestable.html">Nestedable</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/uc-toastr.html">Toastr</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/map-jqvmap.html">Jqv Map</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/uc-lightgallery.html">Light Gallery</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Forms</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/form-element.html">Form Elements</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-wizard.html">Wizard</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-editor-ckeditor.html">Form CkEditor</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-pickers.html">Pickers</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/form-validation-jquery.html">Jquery Validate</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-network"></i>
							<span class="nav-text">Table</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Pages</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="https://vora.dexignlab.com/xhtml/page-register.html">Register</a></li>
                            <li><a href="https://vora.dexignlab.com/xhtml/page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="https://vora.dexignlab.com/xhtml/page-error-400.html">Error 400</a></li>
                                    <li><a href="https://vora.dexignlab.com/xhtml/page-error-403.html">Error 403</a></li>
                                    <li><a href="images/circle.png.html">Error 404</a></li>
                                    <li><a href="https://vora.dexignlab.com/xhtml/page-error-500.html">Error 500</a></li>
                                    <li><a href="https://vora.dexignlab.com/xhtml/page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="https://vora.dexignlab.com/xhtml/page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
				<a class="add-menu-sidebar" href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#addOrderModalside" >+ New Project</a>
				<div class="copyright">
					<p><strong>Vora Saas Admin Dashboard</strong> © 2022 All Rights Reserved</p>
					<p>Made with <span class="heart"></span> by DexignLab</p>
				</div>
			</div>
        </div>