<div class="dlabnav">
            <div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a href="{% url 'admin-home' %}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Dashboard</span>
						</a>
					</li>
                    <li><a href="{% url 'admin-inbox' %}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Inbox</span>
						</a>
					</li>
                   <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">My Contact Details</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="{% url 'view-contact' %}">View Contact</a></li>
							<li><a href="{% url 'create-contact' %}">Create Contact</a></li>
						</ul>
                    </li>
                     
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Reviews</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'view-reviews' %}">View Reviews</a></li>
							<li><a href="{% url 'create-review' %}">Add Reviews</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Projects</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'create-project' %}">Create Project</a></li>
                            <li><a href="{% url 'view-projects' %}">View Projects</a></li>
                            
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Socials</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'create-social' %}">Create Social Link</a></li>
                            <li><a href="{% url 'view-social' %}">View Social Links</a></li>
                            
                        </ul>
                    </li>
                    
                    
                </ul>
				
			</div>
        </div>