{% extends 'layouts/base.html' %}

{% block titles %} {{title}} {% endblock titles %}


{% block content %}

    {% load static %}

    <main id="main_root" class="main-root">

    <!-- ========== Menu ========== -->
    <header id="site_menu_header" class="site-header  dsn-container d-none dsn-hamburger">
        <div class="main-logo">
            <a href="https://theme.dsngrid.com/blackdsn/dark/index.html" data-dsn-text="Blackdsn" class="custom-logo-link main-brand effect-ajax" rel="home"
               aria-current="page">
                <img src="assets/img/logo-light.png" class="custom-logo logo-light" alt="Blackdsn"/>
                <img src="assets/img/logo.png" class="custom-logo logo-dark" alt="Blackdsn"/>
            </a>
        </div>
        <nav class="main-navigation ">
            <div class="menu-cover-title header-container dsn-container">MENU</div>
            <ul id="dsn-primary-list" class="primary-nav h2">
                <li class="nav-item has-sub-menu">
                    <a title="Home" href="project-5.html#0">
                        <span class="overflow ">Home</span>
                    </a>
                    <ul class="nav-item">
                        <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Home</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                        </li>
                        <li class="nav-item ">
                            <a title="Home" href="https://theme.dsngrid.com/blackdsn/dark/index.html">
                                <span class="overflow">Main Demo</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Business" href="https://theme.dsngrid.com/blackdsn/dark/business.html" data-dsn-text="Business">
                                <span class="overflow">Business</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Architecture" href="https://theme.dsngrid.com/blackdsn/dark/architecture.html" data-dsn-text="Architecture">
                                <span class="overflow">Architecture</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Personal" href="https://theme.dsngrid.com/blackdsn/dark/personal.html" data-dsn-text="Personal">
                                <span class="overflow">Personal</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Photographer" href="https://theme.dsngrid.com/blackdsn/dark/photographer.html" data-dsn-text="Photographer">
                                <span class="overflow">Photographer</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Resume" href="https://theme.dsngrid.com/blackdsn/dark/resume.html" data-dsn-text="Resume">
                                <span class="overflow">Resume</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Portfolio" href="https://theme.dsngrid.com/blackdsn/dark/metro-portfolio-1.html" data-dsn-text="Our Portfolio">
                                <span class="overflow">Metro Portfolio 1</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Portfolio" href="https://theme.dsngrid.com/blackdsn/dark/metro-portfolio-2.html" data-dsn-text="Our Portfolio">
                                <span class="overflow">Metro Portfolio 2</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub-menu">
                    <a title="Home" href="project-5.html#0">
                        <span class="overflow ">Portfolio</span>
                    </a>
                    <ul class="nav-item">
                        <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Portfolio</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                        </li>
                        <li class="nav-item has-sub-menu">
                            <a title="Carousel" href="project-5.html#0" data-dsn-text="Business">
                                <span class="overflow">Carousel</span>
                            </a>
                            <ul class="nav-item">
                                <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Carousel</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                </li>
                                <li class="nav-item ">
                                    <a title="Carousel Portfolio 1" href="https://theme.dsngrid.com/blackdsn/dark/carousel-portfolio-1.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Carousel Portfolio 1</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a title="Carousel Portfolio" href="https://theme.dsngrid.com/blackdsn/dark/carousel-portfolio-2.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Carousel Portfolio 2</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a title="Carousel Portfolio 3" href="https://theme.dsngrid.com/blackdsn/dark/carousel-portfolio-3.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Carousel Portfolio 3</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-sub-menu">
                            <a title="Carousel" href="project-5.html#0" data-dsn-text="Business">
                                <span class="overflow">Sliders</span>
                            </a>
                            <ul class="nav-item">
                                <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Sliders</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                </li>
                                <li class="nav-item has-sub-menu">
                                    <a title="Slider" href="project-5.html#0" data-dsn-text="Our Portfolio">
                                        <span class="overflow">Fullscreen</span>
                                    </a>
                                    <ul class="nav-item">
                                        <li class="dsn-back">
                                            <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Fullscreen</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                        </li>
                                        <li class="nav-item ">
                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/fullscreen-distortion-horizontal.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Distortion / H</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/fullscreen-distortion-vertical.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Distortion / V</span>
                                            </a>

                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/fullscreen-parallax-horizontal.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Parallax / H</span>
                                            </a>

                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/fullscreen-parallax-vertical.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Parallax / V</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item has-sub-menu">
                                    <a title="Slider" href="project-5.html#0" data-dsn-text="Our Portfolio">
                                        <span class="overflow">Padding</span>
                                    </a>
                                    <ul class="nav-item">
                                        <li class="dsn-back">
                                            <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Padding</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                        </li>
                                        <li class="nav-item ">
                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/padding-distortion-horizontal.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Distortion / H</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/padding-distortion-vertical.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Distortion / V</span>
                                            </a>

                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/padding-parallax-horizontal.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Parallax / H</span>
                                            </a>

                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/padding-parallax-vertical.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Parallax / V</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item has-sub-menu">
                                    <a title="Slider" href="project-5.html#0" data-dsn-text="Our Portfolio">
                                        <span class="overflow">Halfscreen</span>
                                    </a>
                                    <ul class="nav-item">
                                        <li class="dsn-back">
                                            <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Halfscreen</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                        </li>
                                        <li class="nav-item ">
                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/half-distortion-horizontal.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Distortion / H</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/half-distortion-vertical.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Distortion / V</span>
                                            </a>

                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/half-parallax-horizontal.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Parallax / H</span>
                                            </a>

                                        </li>
                                        <li class="nav-item">

                                            <a title="Slider" href="https://theme.dsngrid.com/blackdsn/dark/half-parallax-vertical.html" data-dsn-text="Our Portfolio">
                                                <span class="overflow">Slider Parallax / V</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>


                        </li>

                        <li class="nav-item has-sub-menu">
                            <a title="Card" href="project-5.html#0" data-dsn-text="Portfolio">
                                <span class="overflow">Card</span>
                            </a>
                            <ul class="nav-item">
                                <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Card</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                </li>
                                <li class="nav-item ">
                                    <a title="work card 1" href="https://theme.dsngrid.com/blackdsn/dark/work-card-1.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work Card 1</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a title="work card 2" href="https://theme.dsngrid.com/blackdsn/dark/work-card-2.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work Card 2</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-sub-menu">
                            <a title="Card" href="project-5.html#0" data-dsn-text="Portfolio">
                                <span class="overflow">Classic</span>
                            </a>
                            <ul class="nav-item">
                                <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Classic</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                </li>
                                <li class="nav-item ">
                                    <a title="work classic 1" href="https://theme.dsngrid.com/blackdsn/dark/work-classic-1.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work classic 1</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a title="work classic 2" href="https://theme.dsngrid.com/blackdsn/dark/work-classic-2.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work classic 2</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-sub-menu">
                            <a title="List" href="project-5.html#0" data-dsn-text="Portfolio">
                                <span class="overflow">List</span>
                            </a>
                            <ul class="nav-item">
                                <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">List</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                </li>
                                <li class="nav-item ">
                                    <a title="work list 1" href="https://theme.dsngrid.com/blackdsn/dark/work-list-1.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work List 1</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a title="work list 2" href="https://theme.dsngrid.com/blackdsn/dark/work-list-2.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work List 2</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-sub-menu">
                            <a title="Metro" href="project-5.html#0" data-dsn-text="Portfolio">
                                <span class="overflow">Metro</span>
                            </a>
                            <ul class="nav-item">
                                <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Metro</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                                </li>
                                <li class="nav-item ">
                                    <a title="work Metro 1" href="https://theme.dsngrid.com/blackdsn/dark/metro-portfolio-1.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work Metro 1</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a title="work Metro 2" href="https://theme.dsngrid.com/blackdsn/dark/metro-portfolio-2.html"
                                       data-dsn-text="Our Portfolio">
                                        <span class="overflow">Work Metro 2</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub-menu">
                    <a title="Home" href="project-5.html#0">
                        <span class="overflow ">Works</span>
                    </a>
                    <ul class="nav-item">
                        <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Works</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                        </li>
                        <li class="nav-item ">
                            <a title="VISIONAID" href="https://theme.dsngrid.com/blackdsn/dark/project-1.html" data-dsn-text="VISIONAID">
                                <span class="overflow">VISIONAID</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="MEN FASHION" href="https://theme.dsngrid.com/blackdsn/dark/project-2.html" data-dsn-text="MEN FASHION">
                                <span class="overflow">MEN FASHION</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="AUDI RS" href="https://theme.dsngrid.com/blackdsn/dark/project-3.html" data-dsn-text="AUDI RS">
                                <span class="overflow">AUDI RS</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="OPEN RUN" href="https://theme.dsngrid.com/blackdsn/dark/project-4.html" data-dsn-text="OPEN RUN">
                                <span class="overflow">OPEN RUN</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="DOG CHOW" href="project-5.html" data-dsn-text="DOG CHOW">
                                <span class="overflow">DOG CHOW</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="HEADPHONES" href="https://theme.dsngrid.com/blackdsn/dark/project-6.html" data-dsn-text="HEADPHONES">
                                <span class="overflow">HEADPHONES</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-sub-menu">
                    <a title="Home" href="project-5.html#0">
                        <span class="overflow ">Blog</span>
                    </a>
                    <ul class="nav-item">
                        <li class="dsn-back">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px"
                                         viewBox="0 0 400.004 400.004" xml:space="preserve">
                                        <g>
                                            <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                                        </g>
                                    </svg>
                                    <span class="text-toggle-back">
                                        <span class="text-name">Blog</span>
                                        <span class="text-back">Back</span>
                                    </span>
                                </span>
                        </li>
                        <li class="nav-item ">
                            <a title="Stories" href="https://theme.dsngrid.com/blackdsn/dark/stories.html" data-dsn-text="Stories">
                                <span class="overflow">Stories</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a title="Single Post" href="https://theme.dsngrid.com/blackdsn/dark/single-post.html" data-dsn-text="Single Post">
                                <span class="overflow">Single Post</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item ">
                    <a title="Service" href="https://theme.dsngrid.com/blackdsn/dark/service.html" >
                        <span class="overflow">Service</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a title="Home" href="https://theme.dsngrid.com/blackdsn/dark/about-us.html">
                        <span class="overflow">About</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a title="Home" href="https://theme.dsngrid.com/blackdsn/dark/contact.html">
                        <span class="overflow">Contact</span>
                    </a>
                </li>
            </ul>
            <div class="container-content  d-flex flex-column justify-content-center section-margin">
                <div class="nav__info">
                    <div class="nav-content">
                        <h5 class="sm-title-block mb-10">Studio</h5>
                        26-30 New Damietta
                        El-Mahalla El-Kubra, SK1 66LM

                    </div>
                    <div class="nav-content mt-30">
                        <h5 class="sm-title-block mb-10">Contact</h5>
                        <p class="links over-hidden mb-1">
                            <a class="link-hover d-block" href="tel:00201004392260" data-hover-text="+00 (2)012 3321">+00 (2)01004392260</a>
                            <a class="link-hover" href="tel:00201024552406" data-hover-text="+00 (2)012 3321">+00 (2)01024552406</a>
                        </p>
                        <p class="links over-hidden"><a class="link-hover" href="mailto:info@dsngrid.com"
                                                        data-hover-text="info@dsngrid.com">info@dsngrid.com</a></p>

                    </div>
                </div>
                <div class="nav-social nav-content mt-30">
                    <div class="nav-social-inner p-relative">
                        <h5 class="sm-title-block mb-10">Follow us</h5>
                        <ul style="--dsn-li-name: dsn6;">
                            <li style="--dsn-li-index: 0;"><a href="project-5.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Dribbble.</a></li>
                            <li style="--dsn-li-index: 1;"><a href="project-5.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Behance.</a></li>
                            <li style="--dsn-li-index: 2;"><a href="project-5.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Linkedin.</a></li>
                            <li style="--dsn-li-index: 3;"><a href="project-5.html#0" target="_blank"
                                                              rel="nofollow noopener noreferrer">Twitter.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="navbar_toggle" class="navbar-toggle">
            <div class="toggle-icon">
                <div class="toggle-line"></div>
                <div class="toggle-line"></div>
                <div class="toggle-line"></div>
            </div>
            <div class="toggle-text">
                <div class="text-menu">Menu</div>
                <div class="text-open">Open</div>
                <div class="text-close">Close</div>
            </div>
        </div>
        <div class="bg-load background-main"></div>

        <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none"
             class="bg-load dsn-svg-transition">
            <path vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z"/>
        </svg>

    </header>
    <!-- ========== End Menu ========== -->

    <!-- ========== Header  ========== -->
    <header id="dsn_header" class="dsn-header-animation  show-box-shadow dsn-container section-padding v-dark-head">
        <div class="entry-header p-relative over-hidden">
            <div class="p-absolute dsn-hero-parallax-img over-hidden before-z-index z-index-1 full-width"
                 id="hero_image" data-dsn-ajax="img" data-overlay="3">
                <img class="cover-bg-img transform-3d" src="assets/img/portfolio/project5/1.jpg" alt=""/>
            </div>

            <div id="hero_content" class="d-flex align-items-end p-relative h-100 dsn-hero-parallax-title container">
                <div class="content p-relative ">
                    <div class="intro-project w-100">
                        <div class="intro-title ">
                            <div id="dsn_metas" class="p-relative d-flex justify-content-between ">
                                <div class="metas has-separate p-relative mb-10">
                                    <span>Photography</span>
                                    <span>Production</span>
                                </div>
                                <span class="mb-20">2022</span>
                            </div>
                            <div id="hero_title">
                                <h1 class="title" data-dsn-ajax="title">DOG CHOW</h1>
                            </div>
                            <p class="subtitle-meta metas p-relative mt-10 heading-color"><b>Published : </b> July 14th 2022</p>

                        </div>

                    </div>

                </div>

            </div>


        </div>


        <a class="background-main move-circle link-project p-absolute" data-dsn="parallax"
           href="https://www.behance.net/gallery/148168567/Purina-Dog-Chow?tracking_source=for_you_feed_featured_category"
           target="_blank" rel="nofollow">

            VISIT SITE
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M213.333333 750.506667L665.173333 298.666667H384V213.333333h426.666667v426.666667h-85.333334V358.826667L273.493333 810.666667 213.333333 750.506667z"/>
            </svg>

        </a>
        <a href="project-5.html#page_wrapper" rel="nofollow" class="dsn-scroll-bottom"
           data-dsn-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
            <div class="text">SCROLL</div>
        </a>

    </header>
    <!-- ========== End Header  ========== -->
    <div id="page_wrapper" class="wrapper">

        <!-- ========== Info Project  ========== -->
        <div class="info-project container text-center section-margin">
            <ul class="intro-project-list mt-30 d-grid grid-md-3 grid-sm-2 ">

                <li class="dsn-up grid-item number-item">
                    <h5 class="title-list-project sm-title-block">Service</h5>
                    <p class="description-list-project dsn-auto">Photographer</p>
                </li>

                <li class="dsn-up grid-item number-item">
                    <h5 class="title-list-project sm-title-block">Industry</h5>
                    <p class="description-list-project dsn-auto">Daniel Jaramillo</p>
                </li>

                <li class="dsn-up grid-item number-item">
                    <h5 class="title-list-project sm-title-block">Published</h5>
                    <p class="description-list-project dsn-auto">June 15th 2022</p>
                </li>
            </ul>
        </div>
        <!-- ========== End Info Project  ========== -->

        <!-- ========== Parallax Image With Popup  ========== -->
        <div class="img-box-parallax before-z-index  has-popup" data-dsn-triggerhook="top" data-dsn-grid="move-up">
            <div class="effect-popup before-z-index h-100"
                 data-src="assets/img/portfolio/project5/2.jpg" data-caption="Caption #1"
                 data-fancybox="_1" data-cursor="open" data-dsn-overlay="3">
                <img src='assets/img/portfolio/project5/2.jpg' class="cover-bg-img has-direction" data-dsn-speed="100%"
                     alt=''/>
            </div>
            <div class="cap">
                <span>Caption #1</span>
            </div>
        </div>
        <!-- ========== End Parallax Image With Popup  ========== -->

        <!-- ========== Parallax Image With Popup  ========== -->
        <div class="img-box-parallax before-z-index  has-popup" data-dsn-triggerhook="top" data-dsn-grid="move-up">
            <div class="effect-popup before-z-index h-100"
                 data-src="assets/img/portfolio/project5/3.jpg" data-caption="Caption #2"
                 data-fancybox="_1" data-cursor="open" data-dsn-overlay="3">
                <img src='assets/img/portfolio/project5/3.jpg' class="cover-bg-img has-direction" data-dsn-speed="100%"
                     alt=''/>
            </div>
            <div class="cap">
                <span>Caption #2</span>
            </div>
        </div>
        <!-- ========== End Parallax Image With Popup  ========== -->

        <!-- ========== Parallax Image With Popup  ========== -->
        <div class="img-box-parallax before-z-index  has-popup" data-dsn-triggerhook="top" data-dsn-grid="move-up">
            <div class="effect-popup before-z-index h-100"
                 data-src="assets/img/portfolio/project5/4.jpg" data-caption="Caption #3"
                 data-fancybox="_1" data-cursor="open" data-dsn-overlay="3">
                <img src='assets/img/portfolio/project5/4.jpg' class="cover-bg-img has-direction" data-dsn-speed="100%"
                     alt=''/>
            </div>
            <div class="cap">
                <span>Caption #3</span>
            </div>
        </div>
        <!-- ========== End Parallax Image With Popup  ========== -->

        <!-- ========== Parallax Image With Popup  ========== -->
        <div class="img-box-parallax before-z-index  has-popup mb-section" data-dsn-triggerhook="top" data-dsn-grid="move-up">
            <div class="effect-popup before-z-index h-100"
                 data-src="assets/img/portfolio/project5/5.jpg" data-caption="Caption #4"
                 data-fancybox="_1" data-cursor="open" data-dsn-overlay="3">
                <img src='assets/img/portfolio/project5/5.jpg' class="cover-bg-img has-direction" data-dsn-speed="100%"
                     alt=''/>
            </div>
            <div class="cap">
                <span>Caption #4</span>
            </div>
        </div>
        <!-- ========== End Parallax Image With Popup  ========== -->




        <!-- ========== Next Project  ========== -->
        <div class="next-project section-padding p-relative footer-animate svg-animate">
            <svg class="dsn-separator dsn-separator-up  dsn-icon-main-color" width="100%" height="100%"
                 viewBox="0 0 100 10" preserveAspectRatio="none">
                <path class="path-anim separator__path" data-dsn-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
                      vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
            </svg>
            <div data-dsn-ajax="img"
                 class="p-absolute dsn-hero-parallax-img transform-3d bg-container over-hidden"
                 data-overlay="2">
                <img class="cover-bg-img wp-post-image" src="assets/img/portfolio/project6/1.jpg" alt=""
                     data-dsn-position="50% 50%"/>
            </div>
            <div class="dsn-container dsn-z-index-2 p-relative h-100 v-dark-head">
                <div class="p-relative h-100 d-flex flex-column justify-content-center">
                    <div class="intro-project w-100">
                        <div class="intro-title text-center">
                            <div class="metas has-separate p-relative mb-10">
                                <span>Production</span>
                            </div>

                            <div class="hero-title fill-text">
                                <a href="https://theme.dsngrid.com/blackdsn/dark/project-6.html" class="d-inline-block effect-ajax"
                                   data-dsn-ajax="next">
                                    <h2 class="title">HEADPHONES</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ========== End Next Project  ========== -->

    </div>


</main>

    
{% endblock content %}
    