{% extends 'layouts/base.html' %}

{% block titles %} {{title}} {% endblock titles %}


{% block content %}

    {% load static %}

    
<main id="main_root" class="main-root">

    <!-- ========== Menu ========== -->
    {% include 'includes/menu-header.html' %}
    <!-- ========== End Menu ========== -->

    <!-- ========== Slider Parallax ========== -->
    <header class="v-dark-head dsn-header-animation">
        <div class="main-slider v-dark-head-mobile has-horizontal  active-nav-slider has-paginate"
             data-dsn-option='{"direction":"horizontal","allowTouchMove":true,"watchSlidesProgress":true,"grabCursor":true,"mousewheel":false,"parallax":true,"speed":1200}'>


            <div class="content-slider slide-inner h-100 over-hidden">
                <div class="bg-container p-absolute  dsn-hero-parallax-img  w-100 h-100 z-index-1 dsn-hero-parallax-img">
                    <div class="swiper-container h-100">
                        <div class="swiper-wrapper">
                            
                            {% for project in projects %}
                                <div class="slide-item swiper-slide over-hidden">
                                    <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="4" data-swiper-parallax="80%">
                                        <img class="cover-bg-img dsn-swiper-parallax-transform"
                                            src="{{project.project_image.url}}" alt=""
                                            data-dsn-position="50% 50%"/>
                                    </div>
                                    <div class="slide-content p-absolute">
                                        <div class="p-relative head-meta swiper-animate-head  d-flex justify-content-between mb-20">
                                            <div class="circle-before metas mb-10">
                                                <span>{{project.project_category}}</span>
                                            </div>
                                        </div>
                                        <h2 class="title has-box-mod p-relative">
                                            <a href="{% url 'work-details' project.id %}" data-dsn-split="chars" class="effect-ajax"
                                            data-dsn-ajax="slider">
                                                {{project.project_name}}
                                            </a>
                                        </h2>
                                        <p class="description swiper-animate-head max-w570 mt-20">
                                            {{project.project_description}}
                                        </p>
                                        <div class="d-flex mt-20 dsn-def-btn dsn-border-style">
                                            <a class="mr-15 line-shape line-shape-before background-transparent dsn-btn dsn-border border-color-default background-main dsn-parallax-hover"
                                            href="{% url 'work-details' project.id %}"
                                            data-dsn-ajax="slider" data-dsn="parallax">
                                                <span class="title-btn p-relative  z-index-1 heading-color">
                                        VIEW CASE
                                    </span>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            {% endfor %}
                
                        </div>
                    </div>
                </div>
                <div class="dsn-container d-flex align-items-center dsn-slider-content dsn-hero-parallax-title"></div>
            </div>

            <div class="dsn-swiper-paginate">
                <div class="swiper-pagination dsn-swiper-circle mr-30 ml-30 heading-color"></div>
            </div>

            <div class="control-nav w-100  d-flex dsn-container  align-items-center justify-content-between">
                <div class="prev-paginate dsn-paginate-arrow box-shadow"></div>
                
                <div class="dsn-pagination p-relative d-flex align-items-end">
                    <span class="slider-current-index h2">01</span>
                    <span class="sm-title-block">/ </span><span
                    class="total sm-title-block"> {{projects.count}}</span>
                </div>

                <div class="next-paginate dsn-paginate-arrow box-shadow"></div>
            </div>

        </div>
    </header>
    <!-- ========== End Slider Parallax ========== -->
</main>
    
{% endblock content %}
    