{% extends 'layouts/base.html' %}

{% block titles %} {{title}} {% endblock titles %}


{% block content %}

    {% load static %}

    <main id="main_root" class="main-root">


    <!-- ========== Menu ========== -->
    {% include 'includes/menu-header.html' %}
    <!-- ========== End Menu ========== -->

    <!-- ========== Header  ========== -->
    <header id="dsn_header" class="dsn-header-animation  show-box-shadow dsn-container section-padding v-dark-head">
        <div class="entry-header p-relative over-hidden">
            <div class="p-absolute dsn-hero-parallax-img over-hidden before-z-index z-index-1 full-width"
                 id="hero_image" data-dsn-ajax="img" data-overlay="3">
                <img class="cover-bg-img transform-3d" src="{{project.project_image.url}}" alt=""/>
            </div>

            <div id="hero_content" class="d-flex align-items-end p-relative h-100 dsn-hero-parallax-title container">
                <div class="content p-relative ">
                    <div class="intro-project w-100">
                        <div class="intro-title ">
                            <div id="dsn_metas" class="p-relative d-flex justify-content-between ">
                                <div class="metas has-separate p-relative mb-10">
                                    <span>{{project.project_industry}}</span>
                                    <span>{{project.project_category}}</span>
                                </div>
                                {% comment %} <span class="mb-20">2022</span> {% endcomment %}
                            </div>
                            <div id="hero_title">
                                <h1 class="title" data-dsn-ajax="title">{{project.project_name}}</h1>
                            </div>
                            <p class="subtitle-meta metas p-relative mt-10 heading-color"><b>Published : </b> {{project.project_date}}</p>

                        </div>

                    </div>

                </div>

            </div>


        </div>


        <a class="background-main move-circle link-project p-absolute" data-dsn="parallax"
           href="{{project.project_link}}"
           target="_blank" rel="nofollow">

            VISIT SITE
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M213.333333 750.506667L665.173333 298.666667H384V213.333333h426.666667v426.666667h-85.333334V358.826667L273.493333 810.666667 213.333333 750.506667z"/>
            </svg>

        </a>
        <a href="project-5.html#page_wrapper" rel="nofollow" class="dsn-scroll-bottom"
           data-dsn-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
            <div class="text">SCROLL</div>
        </a>

    </header>
    <!-- ========== End Header  ========== -->
    <div id="page_wrapper" class="wrapper">

        <!-- ========== Info Project  ========== -->
        <div class="info-project  background-section pb-section pt-40">
            <div class="container text-center">
                <h2 class="title-h2 dsn-up">
                    ABOUT THE PROJECT
                </h2>
                <p class="max-w750 mt-30 dsn-up">
                    {{project.project_description}}
                </p>
                <ul class="intro-project-list mt-30 d-grid grid-md-3">

                    <li class="dsn-up grid-item number-item">
                        <h5 class="title-list-project sm-title-block">Service</h5>
                        <p class="description-list-project dsn-auto">{{project.project_category}}</p>
                    </li>

                    <li class="dsn-up grid-item number-item">
                        <h5 class="title-list-project sm-title-block">Industry</h5>
                        <p class="description-list-project dsn-auto">{{project.project_industry}}</p>
                    </li>

                    <li class="dsn-up grid-item number-item">
                        <h5 class="title-list-project sm-title-block">Published</h5>
                        <p class="description-list-project dsn-auto">{{project.project_date}}</p>
                    </li>
                </ul>
            </div>

        </div>
        <!-- ========== End Info Project  ========== -->

        <!-- ========== Parallax Image With Popup  ========== -->
        <div class="img-box-parallax before-z-index  has-popup" data-dsn-triggerhook="top" data-dsn-grid="move-up">
            <div class="effect-popup before-z-index h-100"
                 data-src="{% static 'assets/img/portfolio/project5/2.jpg' %}" data-caption="Caption #1"
                 data-fancybox="_1" data-cursor="open" data-dsn-overlay="3">
                <img src='{% static 'assets/img/portfolio/project5/2.jpg' %}' class="cover-bg-img has-direction" data-dsn-speed="100%"
                     alt=''/>
            </div>
            <div class="cap">
                <span>Caption #1</span>
            </div>
        </div>
        <!-- ========== End Parallax Image With Popup  ========== -->

        <!-- ========== Next Project  ========== -->
        <div class="next-project section-padding p-relative footer-animate svg-animate">
            <svg class="dsn-separator dsn-separator-up  dsn-icon-main-color" width="100%" height="100%"
                 viewBox="0 0 100 10" preserveAspectRatio="none">
                <path class="path-anim separator__path" data-dsn-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
                      vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
            </svg>
            <div data-dsn-ajax="img"
                 class="p-absolute dsn-hero-parallax-img transform-3d bg-container over-hidden"
                 data-overlay="2">
                <img class="cover-bg-img wp-post-image" src="{{project.project_image.url}}" alt=""
                     data-dsn-position="50% 50%"/>
            </div>
            <div class="dsn-container dsn-z-index-2 p-relative h-100 v-dark-head">
                <div class="p-relative h-100 d-flex flex-column justify-content-center">
                    <div class="intro-project w-100">
                        <div class="intro-title text-center">
                            <div class="metas has-separate p-relative mb-10">
                                <span>{{project.project_category}}</span>
                            </div>

                            <div class="hero-title fill-text">
                                <a href="#" class="d-inline-block effect-ajax"
                                   data-dsn-ajax="next">
                                    <h2 class="title">{{project.project_name}}</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ========== End Next Project  ========== -->

    </div>


</main>

    
{% endblock content %}
    